<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.openo.nfvo.resmanagement.service.mapper.SubNetworkMapper" >
  <resultMap id="BaseResultMap" type="org.openo.nfvo.resmanagement.service.entity.SubNetworkEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="NETWORK_ID" property="networkId" jdbcType="VARCHAR" />
    <result column="IP_VERSION" property="ipVersion" jdbcType="VARCHAR" />
    <result column="CIDR" property="cidr" jdbcType="VARCHAR" />
    <result column="GATEWAY_IP" property="gatewayIp" jdbcType="VARCHAR" />
    <result column="DNS_SERVER" property="dnsServer" jdbcType="VARCHAR" />
    <result column="ALLOC_POOLS" property="allocPools" jdbcType="VARCHAR" />
    <result column="HOST_ROUTES" property="hostRoutes" jdbcType="VARCHAR" />
    <result column="ENABLE_DHCP" property="enableDhcp" jdbcType="VARCHAR" />
    <result column="RP_ID" property="rpId" jdbcType="VARCHAR" />
    <result column="RP_NAME" property="rpName" jdbcType="VARCHAR" />
    <result column="VIM_ID" property="vimId" jdbcType="VARCHAR" />
    <result column="VIM_NAME" property="vimName" jdbcType="VARCHAR" />
    <result column="VIM_VENDOR_ID" property="vimVendorId" jdbcType="VARCHAR" />
    <result column="BACKEND_ID" property="backendId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, NETWORK_ID, IP_VERSION, CIDR, GATEWAY_IP, DNS_SERVER, ALLOC_POOLS, HOST_ROUTES, 
    ENABLE_DHCP, RP_ID, RP_NAME, VIM_ID, VIM_NAME, VIM_VENDOR_ID, BACKEND_ID
  </sql>
  <select id="getSubNetwork" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from subnetwork
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getSubNetworks" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from subnetwork
    <where>
      <if test="id != null">
		 AND ID = #{id,jdbcType=VARCHAR}
	  </if>
    </where>
  </select>
  <delete id="deleteSubNetwork" parameterType="java.lang.String" >
    delete from subnetwork
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="addSubNetwork" parameterType="org.openo.nfvo.resmanagement.service.entity.SubNetworkEntity" >
    insert into subnetwork (ID, NAME, NETWORK_ID, 
      IP_VERSION, CIDR, GATEWAY_IP, 
      DNS_SERVER, ALLOC_POOLS, HOST_ROUTES, 
      ENABLE_DHCP, RP_ID, RP_NAME, 
      VIM_ID, VIM_NAME, VIM_VENDOR_ID, 
      BACKEND_ID)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{networkId,jdbcType=VARCHAR}, 
      #{ipVersion,jdbcType=VARCHAR}, #{cidr,jdbcType=VARCHAR}, #{gatewayIp,jdbcType=VARCHAR}, 
      #{dnsServer,jdbcType=VARCHAR}, #{allocPools,jdbcType=VARCHAR}, #{hostRoutes,jdbcType=VARCHAR}, 
      #{enableDhcp,jdbcType=VARCHAR}, #{rpId,jdbcType=VARCHAR}, #{rpName,jdbcType=VARCHAR}, 
      #{vimId,jdbcType=VARCHAR}, #{vimName,jdbcType=VARCHAR}, #{vimVendorId,jdbcType=VARCHAR}, 
      #{backendId,jdbcType=VARCHAR})
  </insert>
  <insert id="addSubNetworkSelective" parameterType="org.openo.nfvo.resmanagement.service.entity.SubNetworkEntity" >
    insert into subnetwork
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="networkId != null" >
        NETWORK_ID,
      </if>
      <if test="ipVersion != null" >
        IP_VERSION,
      </if>
      <if test="cidr != null" >
        CIDR,
      </if>
      <if test="gatewayIp != null" >
        GATEWAY_IP,
      </if>
      <if test="dnsServer != null" >
        DNS_SERVER,
      </if>
      <if test="allocPools != null" >
        ALLOC_POOLS,
      </if>
      <if test="hostRoutes != null" >
        HOST_ROUTES,
      </if>
      <if test="enableDhcp != null" >
        ENABLE_DHCP,
      </if>
      <if test="rpId != null" >
        RP_ID,
      </if>
      <if test="rpName != null" >
        RP_NAME,
      </if>
      <if test="vimId != null" >
        VIM_ID,
      </if>
      <if test="vimName != null" >
        VIM_NAME,
      </if>
      <if test="vimVendorId != null" >
        VIM_VENDOR_ID,
      </if>
      <if test="backendId != null" >
        BACKEND_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="networkId != null" >
        #{networkId,jdbcType=VARCHAR},
      </if>
      <if test="ipVersion != null" >
        #{ipVersion,jdbcType=VARCHAR},
      </if>
      <if test="cidr != null" >
        #{cidr,jdbcType=VARCHAR},
      </if>
      <if test="gatewayIp != null" >
        #{gatewayIp,jdbcType=VARCHAR},
      </if>
      <if test="dnsServer != null" >
        #{dnsServer,jdbcType=VARCHAR},
      </if>
      <if test="allocPools != null" >
        #{allocPools,jdbcType=VARCHAR},
      </if>
      <if test="hostRoutes != null" >
        #{hostRoutes,jdbcType=VARCHAR},
      </if>
      <if test="enableDhcp != null" >
        #{enableDhcp,jdbcType=VARCHAR},
      </if>
      <if test="rpId != null" >
        #{rpId,jdbcType=VARCHAR},
      </if>
      <if test="rpName != null" >
        #{rpName,jdbcType=VARCHAR},
      </if>
      <if test="vimId != null" >
        #{vimId,jdbcType=VARCHAR},
      </if>
      <if test="vimName != null" >
        #{vimName,jdbcType=VARCHAR},
      </if>
      <if test="vimVendorId != null" >
        #{vimVendorId,jdbcType=VARCHAR},
      </if>
      <if test="backendId != null" >
        #{backendId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSubNetworkSelective" parameterType="org.openo.nfvo.resmanagement.service.entity.SubNetworkEntity" >
    update subnetwork
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="networkId != null" >
        NETWORK_ID = #{networkId,jdbcType=VARCHAR},
      </if>
      <if test="ipVersion != null" >
        IP_VERSION = #{ipVersion,jdbcType=VARCHAR},
      </if>
      <if test="cidr != null" >
        CIDR = #{cidr,jdbcType=VARCHAR},
      </if>
      <if test="gatewayIp != null" >
        GATEWAY_IP = #{gatewayIp,jdbcType=VARCHAR},
      </if>
      <if test="dnsServer != null" >
        DNS_SERVER = #{dnsServer,jdbcType=VARCHAR},
      </if>
      <if test="allocPools != null" >
        ALLOC_POOLS = #{allocPools,jdbcType=VARCHAR},
      </if>
      <if test="hostRoutes != null" >
        HOST_ROUTES = #{hostRoutes,jdbcType=VARCHAR},
      </if>
      <if test="enableDhcp != null" >
        ENABLE_DHCP = #{enableDhcp,jdbcType=VARCHAR},
      </if>
      <if test="rpId != null" >
        RP_ID = #{rpId,jdbcType=VARCHAR},
      </if>
      <if test="rpName != null" >
        RP_NAME = #{rpName,jdbcType=VARCHAR},
      </if>
      <if test="vimId != null" >
        VIM_ID = #{vimId,jdbcType=VARCHAR},
      </if>
      <if test="vimName != null" >
        VIM_NAME = #{vimName,jdbcType=VARCHAR},
      </if>
      <if test="vimVendorId != null" >
        VIM_VENDOR_ID = #{vimVendorId,jdbcType=VARCHAR},
      </if>
      <if test="backendId != null" >
        BACKEND_ID = #{backendId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateSubNetwork" parameterType="org.openo.nfvo.resmanagement.service.entity.SubNetworkEntity" >
    update subnetwork
    set NAME = #{name,jdbcType=VARCHAR},
      NETWORK_ID = #{networkId,jdbcType=VARCHAR},
      IP_VERSION = #{ipVersion,jdbcType=VARCHAR},
      CIDR = #{cidr,jdbcType=VARCHAR},
      GATEWAY_IP = #{gatewayIp,jdbcType=VARCHAR},
      DNS_SERVER = #{dnsServer,jdbcType=VARCHAR},
      ALLOC_POOLS = #{allocPools,jdbcType=VARCHAR},
      HOST_ROUTES = #{hostRoutes,jdbcType=VARCHAR},
      ENABLE_DHCP = #{enableDhcp,jdbcType=VARCHAR},
      RP_ID = #{rpId,jdbcType=VARCHAR},
      RP_NAME = #{rpName,jdbcType=VARCHAR},
      VIM_ID = #{vimId,jdbcType=VARCHAR},
      VIM_NAME = #{vimName,jdbcType=VARCHAR},
      VIM_VENDOR_ID = #{vimVendorId,jdbcType=VARCHAR},
      BACKEND_ID = #{backendId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>