<?xml version="1.0" encoding="UTF-8" ?>
<!--
    Copyright 2016, Huawei Technologies Co., Ltd.
   
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
        http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.openo.nfvo.resmanagement.service.mapper.VappMapper" >
  <resultMap id="BaseResultMap" type="org.openo.nfvo.resmanagement.service.entity.VappEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="TEMPLATE_ID" property="templateId" jdbcType="VARCHAR" />
    <result column="TEMPLATE_NAME" property="templateName" jdbcType="VARCHAR" />
    <result column="PLAN_ID" property="planId" jdbcType="VARCHAR" />
    <result column="PLAN_NAME" property="planName" jdbcType="VARCHAR" />
    <result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
    <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
    <result column="VNFM_ID" property="vnfmId" jdbcType="VARCHAR" />
    <result column="VNFM_NAME" property="vnfmName" jdbcType="VARCHAR" />
    <result column="VIM_ID" property="vimId" jdbcType="VARCHAR" />
    <result column="NFVO_ID" property="nfvoId" jdbcType="VARCHAR" />
    <result column="NFVO_NAME" property="nfvoName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="TENANT" property="tenant" jdbcType="VARCHAR" />
    <result column="PARENT_TENANT" property="parentTenant" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="LOCATION" property="location" jdbcType="VARCHAR" />
    <result column="DR_LOCATION" property="drLocation" jdbcType="VARCHAR" />
    <result column="VCPUS" property="vcpus" jdbcType="VARCHAR" />
    <result column="MEMORY" property="memory" jdbcType="VARCHAR" />
    <result column="DISK" property="disk" jdbcType="VARCHAR" />
    <result column="CPUMHZ" property="cpumhz" jdbcType="VARCHAR" />
    <result column="VCPUS_USED" property="vcpusUsed" jdbcType="VARCHAR" />
    <result column="MEMORY_USED" property="memoryUsed" jdbcType="VARCHAR" />
    <result column="DISK_USED" property="diskUsed" jdbcType="VARCHAR" />
    <result column="CPUMHZ_USED" property="cpumhzUsed" jdbcType="VARCHAR" />
    <result column="VCPUS_DR" property="vcpusDr" jdbcType="VARCHAR" />
    <result column="MEMORY_DR" property="memoryDr" jdbcType="VARCHAR" />
    <result column="DISK_DR" property="diskDr" jdbcType="VARCHAR" />
    <result column="CPUMHZ_DR" property="cpumhzDr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, VERSION, TEMPLATE_ID, TEMPLATE_NAME,PLAN_ID, PLAN_NAME, PROJECT_ID, PROJECT_NAME, VNFM_ID, 
    VNFM_NAME, VIM_ID, NFVO_ID, NFVO_NAME, CREATE_TIME, CREATOR, STATUS, TENANT, 
    PARENT_TENANT, TYPE, LOCATION, DR_LOCATION, VCPUS, MEMORY, DISK, CPUMHZ, VCPUS_USED, 
    MEMORY_USED, DISK_USED, CPUMHZ_USED, VCPUS_DR, MEMORY_DR, DISK_DR, CPUMHZ_DR
  </sql>
  <select id="getVapp" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vapp
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getVapps" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from vapp
    <where>
      <if test="id != null">
		 AND ID = #{id,jdbcType=VARCHAR}
	  </if>
	  <if test="name != null">
		 AND NAME = #{name,jdbcType=VARCHAR}
	  </if>
	  <if test="vimId != null">
		 AND VIM_ID = #{vimId,jdbcType=VARCHAR}
	  </if>
	  <if test="vnfmId != null">
		 AND VNFM_ID = #{vnfmId,jdbcType=VARCHAR}
	  </if>
	  <if test="tenant != null">
		 AND TENANT = #{tenant,jdbcType=VARCHAR}
	  </if>
	  <if test="location != null">
		 AND LOCATION = #{location,jdbcType=VARCHAR}
	  </if>
	  <if test="drLocation != null">
		 AND DR_LOCATION = #{drLocation,jdbcType=VARCHAR}
	  </if>
    </where>
  </select>
  <delete id="deleteVapp" parameterType="java.lang.String" >
    delete from vapp
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="addVapp" parameterType="org.openo.nfvo.resmanagement.service.entity.VappEntity" >
    insert into vapp (ID, NAME, VERSION, 
      TEMPLATE_ID, TEMPLATE_NAME, PLAN_ID, PLAN_NAME, PROJECT_ID, 
      PROJECT_NAME, VNFM_ID, VNFM_NAME, VIM_ID,
      NFVO_ID, NFVO_NAME, CREATE_TIME, CREATOR, 
      STATUS, TENANT, PARENT_TENANT, 
      TYPE, LOCATION, DR_LOCATION, 
      VCPUS, MEMORY, DISK, 
      CPUMHZ, VCPUS_USED, MEMORY_USED, 
      DISK_USED, CPUMHZ_USED, VCPUS_DR, 
      MEMORY_DR, DISK_DR, CPUMHZ_DR
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{templateId,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR},
      #{planId,jdbcType=VARCHAR}, #{planName,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{vnfmId,jdbcType=VARCHAR}, #{vnfmName,jdbcType=VARCHAR}, 
      #{vimId,jdbcType=VARCHAR}, 
      #{nfvoId,jdbcType=VARCHAR}, #{nfvoName,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{tenant,jdbcType=VARCHAR}, #{parentTenant,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{drLocation,jdbcType=VARCHAR}, 
      #{vcpus,jdbcType=VARCHAR}, #{memory,jdbcType=VARCHAR}, #{disk,jdbcType=VARCHAR}, 
      #{cpumhz,jdbcType=VARCHAR}, #{vcpusUsed,jdbcType=VARCHAR}, #{memoryUsed,jdbcType=VARCHAR}, 
      #{diskUsed,jdbcType=VARCHAR}, #{cpumhzUsed,jdbcType=VARCHAR}, #{vcpusDr,jdbcType=VARCHAR}, 
      #{memoryDr,jdbcType=VARCHAR}, #{diskDr,jdbcType=VARCHAR}, #{cpumhzDr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="addVappSelective" parameterType="org.openo.nfvo.resmanagement.service.entity.VappEntity" >
    insert into vapp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="templateId != null" >
        TEMPLATE_ID,
      </if>
      <if test="templateName != null" >
        TEMPLATE_NAME,
      </if>
      <if test="planId != null" >
        PLAN_ID,
      </if>
      <if test="planName != null" >
        PLAN_NAME,
      </if>
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="projectName != null" >
        PROJECT_NAME,
      </if>
      <if test="vnfmId != null" >
        VNFM_ID,
      </if>
      <if test="vnfmName != null" >
        VNFM_NAME,
      </if>
      <if test="vimId != null" >
        VIM_ID,
      </if>
      <if test="nfvoId != null" >
        NFVO_ID,
      </if>
      <if test="nfvoName != null" >
        NFVO_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="tenant != null" >
        TENANT,
      </if>
      <if test="parentTenant != null" >
        PARENT_TENANT,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="location != null" >
        LOCATION,
      </if>
      <if test="drLocation != null" >
        DR_LOCATION,
      </if>
      <if test="vcpus != null" >
        VCPUS,
      </if>
      <if test="memory != null" >
        MEMORY,
      </if>
      <if test="disk != null" >
        DISK,
      </if>
      <if test="cpumhz != null" >
        CPUMHZ,
      </if>
      <if test="vcpusUsed != null" >
        VCPUS_USED,
      </if>
      <if test="memoryUsed != null" >
        MEMORY_USED,
      </if>
      <if test="diskUsed != null" >
        DISK_USED,
      </if>
      <if test="cpumhzUsed != null" >
        CPUMHZ_USED,
      </if>
      <if test="vcpusDr != null" >
        VCPUS_DR,
      </if>
      <if test="memoryDr != null" >
        MEMORY_DR,
      </if>
      <if test="diskDr != null" >
        DISK_DR,
      </if>
      <if test="cpumhzDr != null" >
        CPUMHZ_DR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null" >
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="planName != null" >
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="vnfmId != null" >
        #{vnfmId,jdbcType=VARCHAR},
      </if>
      <if test="vnfmName != null" >
        #{vnfmName,jdbcType=VARCHAR},
      </if>
      <if test="vimId != null" >
        #{vimId,jdbcType=VARCHAR},
      </if>
      <if test="nfvoId != null" >
        #{nfvoId,jdbcType=VARCHAR},
      </if>
      <if test="nfvoName != null" >
        #{nfvoName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="tenant != null" >
        #{tenant,jdbcType=VARCHAR},
      </if>
      <if test="parentTenant != null" >
        #{parentTenant,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="drLocation != null" >
        #{drLocation,jdbcType=VARCHAR},
      </if>
      <if test="vcpus != null" >
        #{vcpus,jdbcType=VARCHAR},
      </if>
      <if test="memory != null" >
        #{memory,jdbcType=VARCHAR},
      </if>
      <if test="disk != null" >
        #{disk,jdbcType=VARCHAR},
      </if>
      <if test="cpumhz != null" >
        #{cpumhz,jdbcType=VARCHAR},
      </if>
      <if test="vcpusUsed != null" >
        #{vcpusUsed,jdbcType=VARCHAR},
      </if>
      <if test="memoryUsed != null" >
        #{memoryUsed,jdbcType=VARCHAR},
      </if>
      <if test="diskUsed != null" >
        #{diskUsed,jdbcType=VARCHAR},
      </if>
      <if test="cpumhzUsed != null" >
        #{cpumhzUsed,jdbcType=VARCHAR},
      </if>
      <if test="vcpusDr != null" >
        #{vcpusDr,jdbcType=VARCHAR},
      </if>
      <if test="memoryDr != null" >
        #{memoryDr,jdbcType=VARCHAR},
      </if>
      <if test="diskDr != null" >
        #{diskDr,jdbcType=VARCHAR},
      </if>
      <if test="cpumhzDr != null" >
        #{cpumhzDr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateVappSelective" parameterType="org.openo.nfvo.resmanagement.service.entity.VappEntity" >
    update vapp
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        TEMPLATE_ID = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null" >
        TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        PLAN_ID = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="planName != null" >
        PLAN_NAME = #{planName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="vnfmId != null" >
        VNFM_ID = #{vnfmId,jdbcType=VARCHAR},
      </if>
      <if test="vnfmName != null" >
        VNFM_NAME = #{vnfmName,jdbcType=VARCHAR},
      </if>
      <if test="vimId != null" >
        VIM_ID = #{vimId,jdbcType=VARCHAR},
      </if>
      <if test="nfvoId != null" >
        NFVO_ID = #{nfvoId,jdbcType=VARCHAR},
      </if>
      <if test="nfvoName != null" >
        NFVO_NAME = #{nfvoName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="tenant != null" >
        TENANT = #{tenant,jdbcType=VARCHAR},
      </if>
      <if test="parentTenant != null" >
        PARENT_TENANT = #{parentTenant,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        LOCATION = #{location,jdbcType=VARCHAR},
      </if>
      <if test="drLocation != null" >
        DR_LOCATION = #{drLocation,jdbcType=VARCHAR},
      </if>
      <if test="vcpus != null" >
        VCPUS = #{vcpus,jdbcType=VARCHAR},
      </if>
      <if test="memory != null" >
        MEMORY = #{memory,jdbcType=VARCHAR},
      </if>
      <if test="disk != null" >
        DISK = #{disk,jdbcType=VARCHAR},
      </if>
      <if test="cpumhz != null" >
        CPUMHZ = #{cpumhz,jdbcType=VARCHAR},
      </if>
      <if test="vcpusUsed != null" >
        VCPUS_USED = #{vcpusUsed,jdbcType=VARCHAR},
      </if>
      <if test="memoryUsed != null" >
        MEMORY_USED = #{memoryUsed,jdbcType=VARCHAR},
      </if>
      <if test="diskUsed != null" >
        DISK_USED = #{diskUsed,jdbcType=VARCHAR},
      </if>
      <if test="cpumhzUsed != null" >
        CPUMHZ_USED = #{cpumhzUsed,jdbcType=VARCHAR},
      </if>
      <if test="vcpusDr != null" >
        VCPUS_DR = #{vcpusDr,jdbcType=VARCHAR},
      </if>
      <if test="memoryDr != null" >
        MEMORY_DR = #{memoryDr,jdbcType=VARCHAR},
      </if>
      <if test="diskDr != null" >
        DISK_DR = #{diskDr,jdbcType=VARCHAR},
      </if>
      <if test="cpumhzDr != null" >
        CPUMHZ_DR = #{cpumhzDr,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateVapp" parameterType="org.openo.nfvo.resmanagement.service.entity.VappEntity" >
    update vapp
    set NAME = #{name,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      TEMPLATE_ID = #{templateId,jdbcType=VARCHAR},
      TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      PLAN_ID = #{planId,jdbcType=VARCHAR},
      PLAN_NAME = #{planName,jdbcType=VARCHAR},
      PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      VNFM_ID = #{vnfmId,jdbcType=VARCHAR},
      VNFM_NAME = #{vnfmName,jdbcType=VARCHAR},
      VIM_ID = #{vimId,jdbcType=VARCHAR},
      NFVO_ID = #{nfvoId,jdbcType=VARCHAR},
      NFVO_NAME = #{nfvoName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      TENANT = #{tenant,jdbcType=VARCHAR},
      PARENT_TENANT = #{parentTenant,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      LOCATION = #{location,jdbcType=VARCHAR},
      DR_LOCATION = #{drLocation,jdbcType=VARCHAR},
      VCPUS = #{vcpus,jdbcType=VARCHAR},
      MEMORY = #{memory,jdbcType=VARCHAR},
      DISK = #{disk,jdbcType=VARCHAR},
      CPUMHZ = #{cpumhz,jdbcType=VARCHAR},
      VCPUS_USED = #{vcpusUsed,jdbcType=VARCHAR},
      MEMORY_USED = #{memoryUsed,jdbcType=VARCHAR},
      DISK_USED = #{diskUsed,jdbcType=VARCHAR},
      CPUMHZ_USED = #{cpumhzUsed,jdbcType=VARCHAR},
      VCPUS_DR = #{vcpusDr,jdbcType=VARCHAR},
      MEMORY_DR = #{memoryDr,jdbcType=VARCHAR},
      DISK_DR = #{diskDr,jdbcType=VARCHAR},
      CPUMHZ_DR = #{cpumhzDr,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
