<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.openo.nfvo.resmanagement.service.mapper.VendorMapper" >
  <resultMap id="BaseResultMap" type="org.openo.nfvo.resmanagement.service.entity.VendorEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="VIM_ID" property="vimId" jdbcType="VARCHAR" />
    <result column="VIM_NAME" property="vimName" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, VIM_ID, VIM_NAME, NAME, STATUS
  </sql>
  <select id="getVendor" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vendor
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getVendors" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from vendor
    <where>
      <if test="id != null">
		 AND ID = #{id,jdbcType=VARCHAR}
	  </if>
	  <if test="name != null">
		 AND NAME = #{name,jdbcType=VARCHAR}
	  </if>
	  <if test="vimId != null">
        AND VIM_ID = #{vimId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteVendor" parameterType="java.lang.String" >
    delete from vendor
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteVendorByVimId" parameterType="java.lang.String" >
    delete from vendor
    where VIM_ID = #{vimId,jdbcType=VARCHAR}
  </delete>
  <insert id="addVendor" parameterType="org.openo.nfvo.resmanagement.service.entity.VendorEntity" >
    insert into vendor (ID, VIM_ID, VIM_NAME, 
      NAME, STATUS)
    values (#{id,jdbcType=VARCHAR}, #{vimId,jdbcType=VARCHAR}, #{vimName,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="addVendorSelective" parameterType="org.openo.nfvo.resmanagement.service.entity.VendorEntity" >
    insert into vendor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="vimId != null" >
        VIM_ID,
      </if>
      <if test="vimName != null" >
        VIM_NAME,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="vimId != null" >
        #{vimId,jdbcType=VARCHAR},
      </if>
      <if test="vimName != null" >
        #{vimName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateVendorSelective" parameterType="org.openo.nfvo.resmanagement.service.entity.VendorEntity" >
    update vendor
    <set >
      <if test="vimId != null" >
        VIM_ID = #{vimId,jdbcType=VARCHAR},
      </if>
      <if test="vimName != null" >
        VIM_NAME = #{vimName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateVendor" parameterType="org.openo.nfvo.resmanagement.service.entity.VendorEntity" >
    update vendor
    set VIM_ID = #{vimId,jdbcType=VARCHAR},
      VIM_NAME = #{vimName,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateVendorByVimId" parameterType="org.openo.nfvo.resmanagement.service.entity.VendorEntity" >
    update vendor
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=VARCHAR},
      </if>
      <if test="vimName != null" >
        VIM_NAME = #{vimName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where VIM_ID = #{vimId,jdbcType=VARCHAR}
  </update>
</mapper>