<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.openo.nfvo.resmanagement.service.mapper.VimMapper" >
  <resultMap id="BaseResultMap" type="org.openo.nfvo.resmanagement.service.entity.VimEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
  </resultMap>
    <sql id="Base_Column_List" >
    ID
  </sql>
    <select id="getVim" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vim
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getVims" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from vim
    <where>
      <if test="id != null">
		 AND ID = #{id,jdbcType=VARCHAR}
	  </if>
    </where>
  </select>
  <delete id="deleteVim" parameterType="java.lang.String" >
    delete from vim
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="addVim" parameterType="org.openo.nfvo.resmanagement.service.entity.VimEntity" >
    insert into vim (ID)
    values (#{id,jdbcType=VARCHAR})
  </insert>
</mapper>