<?xml version="1.0" encoding="GBK"?>
<!--

  Copyright 2017 BOCO Corporation.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">
 	
    <bean id="configurationManager" class="org.openo.nfvo.emsdriver.configmgr.ConfigurationManager">
		<property name="run" value="true" />
		
    </bean>
    <bean id="collectMsgReceiverThread" class="org.openo.nfvo.emsdriver.collector.CollectMsgReceiverThread">
		<property name="run" value="true" />
		<property name="thread_max_num" value="100" />
    </bean>
    
    <bean id="configurationImp" class="org.openo.nfvo.emsdriver.configmgr.ConfigurationImp">
    </bean>
    <bean id="alarmManager" class="org.openo.nfvo.emsdriver.collector.alarm.AlarmManager">
		<property name="run" value="true" />
		<property name="configurationInterface" ref="configurationImp" />
    </bean>
    <bean id="collectManager" class="org.openo.nfvo.emsdriver.taskscheduler.CollectManager">
		<property name="run" value="true" />
		<property name="configurationInterface" ref="configurationImp" />
    </bean>
     <bean id="northMessageMgr" class="org.openo.nfvo.emsdriver.northbound.client.NorthMessageMgr">
		<property name="run" value="true" />
		<property name="configurationInterface" ref="configurationImp" />
    </bean>
   
    
</beans>
